[Unit]
Description=rclipboard Unix domain socket (user)

[Socket]
ListenStream=%t/rclipboard.sock
SocketMode=0600

[Install]
WantedBy=sockets.target

