# rclipboard environment (user)
# Copy to: ~/.config/rclipboard/env

# Bind
# RCLIPBOARD_BIND_ADDR=127.0.0.1
# RCLIPBOARD_BIND_PORT=8989
RCLIPBOARD_BIND_UDS=${XDG_RUNTIME_DIR}/rclipboard.sock
# Or use UDS via socket activation (see rclipboard.socket)
#
# Logging
RCLIPBOARD_LOG_LEVEL=info
RCLIPBOARD_PY_LOG_LEVEL=INFO

# X clipboard
RCLIPBOARD_XSEL=1
RCLIPBOARD_XSEL_PATH=/usr/bin/xsel
RCLIPBOARD_XSEL_INTERVAL_MS=500

# Proxy (disabled by default)
RCLIPBOARD_PROXY=0
RCLIPBOARD_PROXY_ADDR=127.0.0.1
RCLIPBOARD_PROXY_PORT=8989

