# rclipboard environment (user)
# Copy to: ~/.config/rclipboard/env

# echo loading env
# Bind
# Examples:
RCLIPBOARD_BIND_ADDR=${RCLIPBOARD_BIND_ADDR}
RCLIPBOARD_BIND_PORT=${RCLIPBOARD_BIND_PORT}
# RCLIPBOARD_ENDPOINT=http://${RCLIPBOARD_BIND_ADDR}:${RCLIPBOARD_BIND_PORT}
RCLIPBOARD_ENDPOINT=uds://${XDG_RUNTIME_DIR}/rclipboard/uds.sock
RCLIPBOARD_FIFO_DIR=${XDG_RUNTIME_DIR}/rclipboard


RCLIPCTL_TRANSPORT=auto

# Logging
RCLIPBOARD_LOG_LEVEL=info
RCLIPBOARD_PY_LOG_LEVEL=INFO
RCLIPBOARD_NOTIFY_DELAY_MS=250

# X clipboard
RCLIPBOARD_XSEL=1
RCLIPBOARD_XSEL_PATH=/usr/bin/xsel
RCLIPBOARD_XSEL_INTERVAL_MS=250

# Proxy (disabled by default)
RCLIPBOARD_PROXY=0
RCLIPBOARD_UPSTREAM_ADDR=${RCLIPBOARD_UPSTREAM_ADDR}
RCLIPBOARD_UPSTREAM_PORT=${RCLIPBOARD_UPSTREAM_PORT}
RCLIPBOARD_UPSTREAM_ENDPOINT=${RCLIPBOARD_UPSTREAM_ADDR}:${RCLIPBOARD_UPSTREAM_PORT}

