[Unit]
Description=rclipboard service (user)
After=default.target

[Service]
Type=simple
ExecStartPre=/bin/sh -c 'mkdir -p %t/rclipboard && %h/.config/rclipboard/venv/bin/rclipboard config env --config %h/.config/rclipboard/config.toml > %t/rclipboard/env'
EnvironmentFile=-%t/rclipboard/env
WorkingDirectory=%h/.config/rclipboard
ExecStart=%h/.config/rclipboard/venv/bin/rclipboard
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=default.target
