[Unit]
Description=rclipboard service (user, proxy mode)
After=default.target

[Service]
Type=simple
EnvironmentFile=%h/.config/rclipboard/env
WorkingDirectory=%h/.config/rclipboard
Environment=RCLIPBOARD_PROXY=1
ExecStart=%h/.config/rclipboard/venv/bin/rclipboard
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=default.target
